<h1><%= @fish[@index][:name] %></h1>

<img src="<%= @fish[@index][:img]%>"/>

<p>Description: <%= @fish[@index][:description]%></p>

<a href="<%= @fish[@index][:wikipedia]%>">learn more</a>

<a></a>
<a href="/">Homepage</a>