<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>This is a webpage</title>
  <link href="styles.css" rel="stylesheet" type="text/css/>
</head>

<body>



<header>

</header>

<nav>

</nav>

<div id="content">
    <%=yield%>
</div> <!--END content-->

<footer>

</footer>

</body>
</html>