<h1>Sharks</h1>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Surfacing_great_white_shark.jpg/800px-Surfacing_great_white_shark.jpg" alt="Shark"/>
<p>Description: Sharks live in salt water and most of them are harmless.</p>

<a href="http://en.wikipedia.org/wiki/Shark">learn more</a>
<a></a>
<a href="/">Homepage</a>